# Requirements file for WPG.
# Use with pip3: pip3 install [--user] -r requirements.txt
# For conda, use the environment file: conda create env -n wpg --file environment.yml

numpy >= 1.9
scipy
matplotlib
h5py
pytest
jupyter
mock
sphinx
pytest-profiling
autopep8
requests
